<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, input_html: {rows: 6} %>
    <%= f.input :status %>
    <%= f.input :size %>
    <%= f.input :date %>
    <%= f.input :price %>

    <%= f.input :host_id %>

    <%= f.input :picture, as: :file %>
    <%= f.hidden_field :picture_cache %>
    <%= f.button :submit %>
  </div>

<% end %>
