<!-- <div class="container">
  <div class="row">
    <% if @events.nil? %>
      <%= "There is no event" %>
    <% else %>
      <% @events.each do |event| %>
        <li><a href ="<%= event_path(event.id) %>"><%= event.name %></a></li>
      <% end %>
    <% end %>
  </div>
</div> -->
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Size</th>
        <th>Data actions</th>

      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.description %></td>
          <td><%= event.size %></td>
          <td>
            <%= link_to 'Show', event, class: 'button' %>
            <%= link_to 'Edit', edit_event_path(event), class: 'button' %>
            <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path, class: 'button' %>
</div>
