<h1>Show event</h1>

name  : <%= @event.name%></br>
description : <%= @event.description %></br>
size : <%= @event.size %></br>
date : <%= @event.date %></br></br>

<%= form_tag event_reservations_path(@event.id), method: :get, class: "right" do %>
  <button class="btn">Join this event</button>
<% end %>
