<h2>Event Information</h2>

<table class='table table-bordered'>
<tr>
  <th>Name</th>
  <td><%= @event.name %></td>
</tr>
<tr>
  <th>Description</th>
  <td><%= @event.description %></td>
</tr>
<tr>
  <th>Size</th>
  <td><%= @event.size  %></td>
</tr>
<tr>
  <th>Date</th>
  <td><%= @event.date %></td>
</tr>
</table>

<%= link_to 'Edit', edit_event_path(@event), class: 'button' %>
<%= link_to 'Back', events_path, class: 'button' %>
<%= form_tag new_event_reservation_path(@event.id), method: :GET, class: "right" do %>
  <button class="btn">Join this event</button>
<% end %>
