<h1>Reservation successful!</h1>


Event name : <%= @event.name %></br>
Event date : <%= @event.date %></br>

Name : <%= current_user.name %>
</br>
<%= link_to 'Go back', events_path, class: 'btn-default' %>

  <!-- <%= form_for :reservation do |f| %>
    Name : <%= f.text_field :name %></br>
    How many? : <%= f.select :num, options_for_select(@ary)  %></br>
  <% end %> -->
