<!DOCTYPE html>
<html>
  <head>
    <title>ProjectJDW</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="container">
        <ul>
            <% if user_signed_in? %>
              <li><%= current_user.name %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
            <li><a href="/users/sign_in">Sign in</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
          <% end %>
        </ul>
    </nav>

    <hr/>

    <div class="container">
      <%= yield %>
    </div>
  </body>
  <div class="footer">
    <hr/>
    &copy; copyright - JD Bae, DW Kim
  </div>
</html>
